:root{
    box-sizing: border-box;
}

*,
::before
::after{
    box-sizing: inherit;
}

.bookForm{
    background-color: white;
    width:33%;
    height: auto;
    position:absolute;
    top: 25%;
    left: 33%;
    padding: 1em;
    display: block;
}

.bookForm div{
    padding-bottom: 1em;
}

.bookForm input[type='text']{
    width: 100%;
}

.form-popup{
    display:none;
}

.form-popup-transition{
    display:block;
    animation: popup 0.5s;
}

@keyframes popup {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

body{
    background-color: lightblue;
    font-size: 20px;
}

.bookList{
    width:50%;
    margin: 5em auto;
    position: relative;
    top:5em;
    background-color: lightpink;
    padding:1em;
}

.title{
    width:100%;
    margin:0;
    padding:0;
    background-color: blue;
    color:white;
    position: fixed;
    top: 0; 
    left: 0;
    padding:1em;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.newBookBtn{
    position: fixed;
    bottom:50px;
    right:50px;
    
    font-size:50px;
    padding:20px;
    background-color: white;
}

.bookDiv{
    background-color: white;
    margin: 1em;
    padding: 1em;
}

.bookBtn{
    float:right;
}